/* .burgers {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.burger {
  box-sizing: border-box;
  border: 2px solid black;
  background-color: black;
  border-radius: 2px;
  padding: 0;
  width: 1.5rem;
  margin: 0.4rem;

  transition: transform 0.3s ease-out;
}

.burgers:hover .burg1 {
  transform-origin: 99% 50%;
  transform: rotateZ(-45deg);
}

.burgers:hover .burg2 {
  transform-origin: 99% 50%;
  transform: rotateZ(45deg);
} */

* {
  box-sizing: border-box;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger,
.menu-btn__burger2 {
  width: 3rem;
  height: 0.4rem;
  background: black;
  border-radius: 5px;

  margin-top: 0.3rem;
  margin-bottom: 0.3rem;

  transition: all 0.5s ease-out;
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform-origin: 73% 50%;
  transform: rotateZ(-45deg);
}

.menu-btn.open .menu-btn__burger2 {
  transform-origin: 73% 50%;
  transform: rotate(45deg);
}

/* overriding Bootstrap */
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler {
  transition: none;
}
.navbar-light .navbar-toggler {
  border-color: transparent;
}
