* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger,
.menu-btn__burger2 {
  width: 3rem;
  height: 0.4rem;
  background: black;
  border-radius: 5px;

  margin-top: 0.3rem;
  margin-bottom: 0.3rem;

  transition: all 0.5s ease-out;
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform-origin: 73% 50%;
  transform: rotateZ(-45deg);
}

.menu-btn.open .menu-btn__burger2 {
  transform-origin: 73% 50%;
  transform: rotate(45deg);
}

a {
  text-decoration: none;
  color: white;
}

/* footer */
footer {
  height: 80vh;
}
/* overriding Bootstrap */
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler {
  transition: none;
}
.navbar-light .navbar-toggler {
  border-color: transparent;
}

.list-group-item {
  border: 1px transparent;
  background-color: black;
}
